<!--The whole content below can be removed with the new code.-->
the question is: {{questionInfo?.question}}
<br>
the category is: {{ questionInfo?.category.title}}
<br>
the point value is: {{ questionInfo?.value}}
<br>
the user's score is: {{ submitAnswer.userScore }}
<br>
<br>
<br>


<app-submitanswer #submitAnswer (buttonClicked)="getDataFromService($event)" [questionInfo]="questionInfo"></app-submitanswer>

<br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br>
the answer is: {{ questionInfo?.answer }}